@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;    
}
body{
    background-image: url(images/41Login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.username,
.password {
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 40px; 
}

h2{
    margin-top: 55px;
    margin-bottom: 0px;
    color: antiquewhite;
}

.container {
    /* to take the container to the center */
    margin: auto;
    width: 50%;
    margin-top: 100px;

    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    width: 400px;
    height: 440px;

    background-color: rgb(7, 46, 7);
    opacity: 85%;
}

.btn {
    border: none;
    color: white;
    padding: 10px 105px;
    font-size: 15px;
    cursor: pointer;
    /* background-color: rgb(112, 155, 112) ; */
    background-color: rgb(85, 129, 85) ;
    transition-duration: 0.4s;
    margin-top: 20px;
    text-align: center;
    border-radius: 30px;
}

.btn:hover {
    background-color: rgb(125, 167, 125) 
}

.error-msg {
    color: red;
    margin-top: 0px;
    font-size: small;
    text-align: center;
}